<ul class="books">
    {%- for book in processed -%}
        {%- unless book.linkType == "Missing" -%}
            <li class="book"
                data-title="{{book.title | downcase}}" data-author="{{book.author | downcase}}"
            >
                <div class="book__image">
                    {%- if book.imgLink != "" -%}
                    <img loading="lazy" src="{{book.imgLink}}" alt=" " aria-hidden="true" />
                    {%- else -%}
                    <img loading="lazy" src="https://images.amazon.com/images/P/{{book.book1Asin}}.01.LZZZZZZZ.jpg" alt=" " aria-hidden="true" />
                    {%- endif -%}
                </div>
                <div class="book__title">
                    {{book.title}}
                </div>
                <div class="book__author">
                    {{book.author}}
                </div>
                {% comment %} <div class="book__tags">
                    {%- if book.spfboCohort != "" -%}
                    <span class="book__tag">{{book.spfboCohort}}</span>
                    {%- endif -%}
                </div> {% endcomment %}
                {%- if book.directLink != "" -%}
                <div class="book__direct-link book__link" data-market="direct">
                    <a href="{{book.directLink}}" target="_blank">
                        <span class="book__link-text">Buy <span class="sr-only">{{book.title}} </span>Direct from Author</span>
                    </a>
                </div>
                {%- endif -%}
                <ul class="book__links">
                    {%- assign asin = book.book1Asin -%}
                    {%- if book.originalAsinType == "Series" and book.originalAsin != "" -%}
                        {%- assign asin = book.originalAsin -%}
                    {%- endif -%}

                    {%- if asin != "" -%}
                        {%- for market in amazon_marketplaces -%}
                            {% if book.intl or market.countryCode == "us" or market.countryCode == "gb" %}
                                {%- capture url -%}
                                    https://www.amazon{{market.urlSuffix}}/dp/{{asin}}
                                {%- endcapture -%}
                                {%- if market.countryCode == "nl" -%}
                                    {%- capture url -%}
                                        https://www.amazon{{market.urlSuffix}}/dp/{{book.book1Asin}}
                                    {%- endcapture -%}
                                {%- endif -%}
                                <li class="book__link book__link-zon" data-market="zon-{{market.countryCode}}">
                                    <a href="{{url}}" target="_blank">
                                        <span class="sr-only">Get {{book.title}} on </span>
                                        <span class="book__link-text">Amazon{{market.urlSuffix}}</span>
                                        <img src="/_assets/icons/logos/amazon.png" class="book__link-logo" alt=" " aria-hidden="true" />
                                        <img src="/_assets/icons/flags/{{market.countryCode}}.png" class="book__link-flag" alt=" " aria-hidden="true" />
                                    </a>
                                </li>
                            {% endif %}
                        {%- endfor -%}
                    {%- endif -%}
                    {%- if book.koboLink != "" -%}
                    <li class="book__link book__link-wide" data-market="kobo">
                        <a href="{{book.koboLink}}" target="_blank">
                            <span class="sr-only">Get {{book.title}} on </span>
                            <span class="book__link-text">Kobo</span>
                            <img src="/_assets/icons/logos/kobo.png" class="book__link-logo" alt=" " aria-hidden="true" />
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if book.googleLink != "" -%}
                    <li class="book__link book__link-wide" data-market="google">
                        <a href="{{book.googleLink}}" target="_blank">
                            <span class="sr-only">Get {{book.title}} on </span>
                            <span class="book__link-text">Google Play Store</span>
                            <img src="/_assets/icons/logos/google.png" class="book__link-logo" alt=" " aria-hidden="true" />
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if book.appleLink != "" -%}
                    <li class="book__link book__link-wide" data-market="apple">
                        <a href="{{book.appleLink}}" target="_blank">
                            <span class="sr-only">Get {{book.title}} on </span>
                            <span class="book__link-text">Apple Books</span>
                            <img src="/_assets/icons/logos/apple.png" class="book__link-logo" alt=" " aria-hidden="true" />
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if book.bnLink != "" -%}
                    <li class="book__link book__link-wide" data-market="bn">
                        <a href="{{book.bnLink}}" target="_blank">
                            <span class="sr-only">Get {{book.title}} at </span>
                            <span class="book__link-text">Barnes & Noble</span>
                            <img src="/_assets/icons/logos/bn.png" class="book__link-logo" alt=" " aria-hidden="true" />
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if book.smashwordsLink != "" -%}
                    <li class="book__link book__link-wide" data-market="smashwords">
                        <a href="{{book.smashwordsLink}}" target="_blank">
                            <span class="sr-only">Get {{book.title}} on </span>
                            <span class="book__link-text">Smashwords</span>
                            <img src="/_assets/icons/logos/smashwords.png" class="book__link-logo" alt=" " aria-hidden="true" />
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
            </li>
        {%- endunless -%}
    {%- endfor -%}
</ul>