<ul class="books">
    {%- for book in processed -%}
    <li class="book"
        data-title="{{book.title | downcase}}" data-author="{{book.author | downcase}}"
    >
        <div class="book__image">
            {%- if book.imgLink != "" -%}
            <img src="{{book.imgLink}}" alt=" " aria-hidden="true" />
            {%- else -%}
            <img src="https://images.amazon.com/images/P/{{book.asin}}.01.LZZZZZZZ.jpg" alt=" " aria-hidden="true" />
            {%- endif -%}
        </div>
        <div class="book__title">
            {{book.title}}
        </div>
        <div class="book__author">
            {{book.author}}
        </div>
        {% comment %} <div class="book__tags">
            {%- if book.spfboCohort != "" -%}
            <span class="book__tag">{{book.spfboCohort}}</span>
            {%- endif -%}
        </div> {% endcomment %}
        {%- if book.directLink != "" -%}
        <div class="book__direct-link book__link" data-market="direct">
            <a href="{{book.directLink}}">
                <span class="book__link-text">Buy <span class="sr-only">{{book.title}} </span>Direct from Author</span>
            </a>
        </div>
        {%- endif -%}
        <ul class="book__links">
            {%- if book.asin != "" -%}
                {%- for market in amazon_marketplaces -%}
                    {% if book.intl or market.countryCode == "us" %}
                        <li class="book__link book__link-zon" data-market="zon-{{market.countryCode}}">
                            <a href="https://www.amazon{{market.urlSuffix}}/dp/{{book.asin}}">
                                <span class="sr-only">Get {{book.title}} on </span>
                                <span class="book__link-text">Amazon{{market.urlSuffix}}</span>
                                <img src="/_assets/icons/amazon.png" class="book__link-logo" alt=" " aria-hidden="true" />
                                <img src="https://flagcdn.com/h20/{{market.countryCode}}.png" class="book__link-flag" alt=" " aria-hidden="true" />
                            </a>
                        </li>
                    {% endif %}
                {%- endfor -%}
            {%- endif -%}
            {%- if book.koboLink != "" -%}
            <li class="book__link book__link-wide" data-market="kobo">
                <a href="{{book.koboLink}}">
                    <span class="sr-only">Get {{book.title}} on </span>
                    <span class="book__link-text">Kobo</span>
                    <img src="/_assets/icons/kobo.png" class="book__link-logo" alt=" " aria-hidden="true" />
                </a>
            </li>
            {%- endif -%}
            {%- if book.googleLink != "" -%}
            <li class="book__link book__link-wide" data-market="google">
                <a href="{{book.googleLink}}">
                    <span class="sr-only">Get {{book.title}} on </span>
                    <span class="book__link-text">Google Play Store</span>
                    <img src="/_assets/icons/google.png" class="book__link-logo" alt=" " aria-hidden="true" />
                </a>
            </li>
            {%- endif -%}
            {%- if book.appleLink != "" -%}
            <li class="book__link book__link-wide" data-market="apple">
                <a href="{{book.appleLink}}">
                    <span class="sr-only">Get {{book.title}} on </span>
                    <span class="book__link-text">Apple Books</span>
                    <img src="/_assets/icons/apple.png" class="book__link-logo" alt=" " aria-hidden="true" />
                </a>
            </li>
            {%- endif -%}
            {%- if book.bnLink != "" -%}
            <li class="book__link book__link-wide" data-market="bn">
                <a href="{{book.bnLink}}">
                    <span class="sr-only">Get {{book.title}} at </span>
                    <span class="book__link-text">Barnes & Noble</span>
                    <img src="/_assets/icons/bn.png" class="book__link-logo" alt=" " aria-hidden="true" />
                </a>
            </li>
            {%- endif -%}
            {%- if book.smashwordsLink != "" -%}
            <li class="book__link book__link-wide" data-market="smashwords">
                <a href="{{book.smashwordsLink}}">
                    <span class="sr-only">Get {{book.title}} on </span>
                    <span class="book__link-text">Smashwords</span>
                    <img src="/_assets/icons/smashwords.png" class="book__link-logo" alt=" " aria-hidden="true" />
                </a>
            </li>
            {%- endif -%}
        </ul>
    </li>
    {%- endfor -%}
</ul>