---
tags: index
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./_styles/styles.css">
        <title>{{meta.title}}</title>

        <meta name="title" content="{{meta.title}}">
        <meta name="description" content="{{meta.desc}}">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>{{meta.title}}</h1>
                <div class="subheading">
                    <p class="subheading__date">Dec 26-27</p>
                    <p>All books 99&cent; or free. Each sale or download contributes towards charity.</p>
                </div>
            </header>

            <aside>
                <form class="filters">
                    <h2>Filters</h2>

                    <label class="search">
                        <span class="search__label">Filter by title or author</span>
                        <input class="search__input" type="text" name="filter-search" placeholder="Start typing...">
                    </label>

                    <fieldset class="filters__checkboxes">
                        <legend class="sr-only">Filter by Availability</legend>

                        <label class="marketplace-select">
                            <span class="marketplace-select__label">Show Amazon Marketplace</span>
                            <select class="marketplace-select__select" data-filters-marketplace>
                                <option value="all">Show All</option>
                                {%- for market in marketplaces -%}
                                <option value="{{market.countryCode}}">Amazon{{market.urlSuffix}}</option>
                                {%- endfor -%}
                            </select>
                        </label>

                        <label class="filters__checkbox">
                            <input type="checkbox" name="filter-intl" data-filters-intl>
                            <span>On sale on international Amazon</span>
                        </label>

                        <label class="filters__checkbox">
                            <input type="checkbox" name="filter-wide" data-filters-wide>
                            <span>Available wide</span>
                        </label>
                        <label class="filters__checkbox">
                            <input type="checkbox" name="filter-direct" data-filters-direct>
                            <span>Has direct buy link</span>
                        </label>
                    </fieldset>
                    
                    <button class="filters__go" type="button" data-filters-go>Go</button>
                </form>
            </aside>

            <main>
                {% include 'books' %}
            </main>

            <footer>
                {% renderTemplate "md" %}
                The r/fantasy MegaSale is brought to you by 
                [Wraithmarked Creative](https://www.wraithmarked.com/) and 
                [Space Wizard Science Fantasy](https://www.spacewizardsciencefantasy.com/).
                
                Listing page made with 💚 by [Y. R. Liu](https://www.yrliu.com/). If you found this page useful, please consider giving my books a look.
                
                Info on wide books, direct sale, and international sale were collected by 
                [Delilah Waan](https://www.delilahwaan.com/),
                [Niranjan](https://www.authorniranjan.in/), and 
                [Joanna Maciejewska](https://www.authorjm.com/). Go check out their books!
                {% endrenderTemplate %}
            </footer>
        </div>

        <button class="back-to-top" type="button">
            <span class="sr-only">Back to Top</span>
            <span aria-hidden="true">⬆️</span>
        </button>

        <script type="text/javascript" src="./_scripts/script.js"></script>
    </body>
</html>