---
tags: index
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./_styles/styles.css">
        <title>r/fantasy MegaSale 2024</title>
    </head>
    <body>
        <div class="container">
            <h1>r/fantasy MegaSale 2024</h1>

            <form class="filters">
                <h2>Filters</h2>

                <label class="marketplace-select">
                    <span class="marketplace-select__label">Show Amazon Marketplace</span>
                    <select class="marketplace-select__select" data-filters-marketplace>
                        <option value="all">Show All</option>
                        {%- for market in marketplaces -%}
                        <option value="{{market.countryCode}}">Amazon{{market.urlSuffix}}</option>
                        {%- endfor -%}
                    </select>
                </label>

                <fieldset class="filters__checkboxes">
                    <legend class="sr-only">Filter by Availability</legend>
                    <label class="filters__checkbox">
                        <input type="checkbox" name="filter-wide" data-filters-wide>
                        <span>Available wide</span>
                    </label>
                    <label class="filters__checkbox">
                        <input type="checkbox" name="filter-direct" data-filters-direct>
                        <span>Has direct buy link</span>
                    </label>
                    <label class="filters__checkbox">
                        <input type="checkbox" name="filter-intl" data-filters-intl>
                        <span>On sale on international Amazon</span>
                    </label>
                </fieldset>
                
                <button class="filters__go" type="button" data-filters-go>Go</button>
            </form>

            <ul class="books">
                {%- for book in processed -%}
                <li class="book"
                    {% if book.wide %}
                        data-wide
                    {% endif %}
                    {% if book.directLink != "" %}
                        data-direct
                    {% endif %}
                    {% if book.intl %}
                        data-intl
                    {% endif %}
                >
                    <div class="book__image">
                        <img src="https://images.amazon.com/images/P/{{book.asin}}.01._LZZZZZZZ_.jpg" alt=" " aria-hidden="true" />
                    </div>
                    <div class="book__title">
                        {{book.title}}
                    </div>
                    <div class="book__author">
                        {{book.author}}
                    </div>
                    <div class="book__tags">
                        {%- if book.spfboCohort != "" -%}
                            <span class="book__tag">{{book.spfboCohort}}</span>
                        {%- endif -%}
                    </div>
                    {%- if book.directLink != "" -%}
                    <div class="book__direct-link book__link">
                        <a href="{{book.directLink}}">
                            <span class="book__link-text">Buy <span class="sr-only">{{book.title}} </span>Direct from Author</span>
                        </a>
                    </div>
                    {%- endif -%}
                    <ul class="book__links">
                        {%- for market in marketplaces -%}
                        <li class="book__link" data-market="{{market.countryCode}}">
                            <a href="https://www.amazon{{market.urlSuffix}}/dp/{{book.asin}}">
                                <span class="sr-only">Get {{book.title}} on </span>
                                <span class="book__link-text">Amazon{{market.urlSuffix}}</span>
                                <img src="https://flagcdn.com/h20/{{market.countryCode}}.png" alt=" " aria-hidden="true" />
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </li>
                {%- endfor -%}
            </ul>
        </div>

        <button class="back-to-top" type="button">
            <span class="sr-only">Back to Top</span>
            <span aria-hidden="true">⬆️</span>
        </button>

        <script type="text/javascript" src="./_scripts/script.js"></script>
    </body>
</html>